.list-item {
    outline: none;
    display: flex;
    user-select: none;
    align-items: center;
    cursor: var(--list-cursor);
    height: var(--list-item-height);
    border: var(--list-selection-border-width) solid transparent;

    &:hover:not(.no-hover) {
        --list-text-color: var(--list-hover-text-color);
        background: var(--list-hover-background-color);
    }
}