<button (click)="EditItem()" (mousedown)="listComponent()?.stopMouseDownPropagation()">Edit Item</button>

<!-- <list>
    <list-item>
        <list-item-text>Make</list-item-text>
    </list-item>

    <list-item>
        <list-item-text>America</list-item-text>
    </list-item>

    <list-item>
        <list-item-text>Great</list-item-text>
    </list-item>

    <list-item>
        <list-item-text>Again</list-item-text>
    </list-item>
</list> -->


<!-- <selectable-list>
    <selectable-list-item>
        <list-item-text>Make</list-item-text>
    </selectable-list-item>

    <selectable-list-item>
        <list-item-text>America</list-item-text>
    </selectable-list-item>

    <selectable-list-item>
        <list-item-text>Great</list-item-text>
    </selectable-list-item>

    <selectable-list-item>
        <list-item-text>Again</list-item-text>
    </selectable-list-item>
</selectable-list> -->


<!-- <multiselectable-list>
    <multiselectable-list-item>
        <list-item-text>Make</list-item-text>
    </multiselectable-list-item>

    <multiselectable-list-item>
        <list-item-text>America</list-item-text>
    </multiselectable-list-item>

    <multiselectable-list-item>
        <list-item-text>Great</list-item-text>
    </multiselectable-list-item>

    <multiselectable-list-item>
        <list-item-text>Again</list-item-text>
    </multiselectable-list-item>
</multiselectable-list> -->




<!-- <editable-list>
    <editable-list-item>
        <editable-list-item-text>Make</editable-list-item-text>
    </editable-list-item>

    <editable-list-item>
        <editable-list-item-text>America</editable-list-item-text>
    </editable-list-item>

    <editable-list-item>
        <editable-list-item-text>Great</editable-list-item-text>
    </editable-list-item>

    <editable-list-item>
        <editable-list-item-text>Again</editable-list-item-text>
    </editable-list-item>
</editable-list> -->



    <editable-list>
        @for (item of list; track $index) {
            <editable-list-item>
                <editable-list-item-text>{{item}}</editable-list-item-text>
            </editable-list-item>
        }
    </editable-list>

