<!-- <list>
    <list-item>
        <list-item-text>Make</list-item-text>
    </list-item>

    <list-item>
        <list-item-text>America</list-item-text>
    </list-item>

    <list-item>
        <list-item-text>Great</list-item-text>
    </list-item>

    <list-item>
        <list-item-text>Again</list-item-text>
    </list-item>
</list> -->


<!-- <selectable-list>
    <selectable-list-item>
        <list-item-text>Make</list-item-text>
    </selectable-list-item>

    <selectable-list-item>
        <list-item-text>America</list-item-text>
    </selectable-list-item>

    <selectable-list-item>
        <list-item-text>Great</list-item-text>
    </selectable-list-item>

    <selectable-list-item>
        <list-item-text>Again</list-item-text>
    </selectable-list-item>
</selectable-list> -->


<multiselectable-list>
    <multiselectable-list-item>
        <list-item-text>Make</list-item-text>
    </multiselectable-list-item>

    <multiselectable-list-item>
        <list-item-text>America</list-item-text>
    </multiselectable-list-item>

    <multiselectable-list-item>
        <list-item-text>Great</list-item-text>
    </multiselectable-list-item>

    <multiselectable-list-item>
        <list-item-text>Again</list-item-text>
    </multiselectable-list-item>
</multiselectable-list>