.unselected-list-item:not(.list-primary-selection) {
    --list-text-color: var(--list-text-color);
    border-color: var(--list-selection-border-color);

    &:hover {
        background: var(--list-hover-background-color);
        --list-text-color: var(--list-hover-text-color);
    }
}



.list-secondary-selection-top:not(.list-primary-selection) {
    padding-bottom: 1px;
    border-bottom: hidden;
    border-color: var(--list-secondary-selection-border-color);
    background: var(--list-secondary-selection-background-color);
    --list-text-color: var(--list-secondary-selection-text-color);
}



.list-secondary-selection-middle:not(.list-primary-selection) {
    padding-top: 1px;
    border-top: hidden;
    padding-bottom: 1px;
    border-bottom: hidden;
    border-color: var(--list-secondary-selection-border-color);
    background: var(--list-secondary-selection-background-color);
    --list-text-color: var(--list-secondary-selection-text-color);
}



.list-secondary-selection-bottom:not(.list-primary-selection) {
    padding-top: 1px;
    border-top: hidden;
    border-color: var(--list-secondary-selection-border-color);
    background: var(--list-secondary-selection-background-color);
    --list-text-color: var(--list-secondary-selection-text-color);
}