$list-cursor: auto;
$list-font-size: 14px;
$list-item-height: 26px;
$list-padding-left: 0px;
$list-padding-right: 0px;
$list-disabled-opacity: 0.25;
$list-item-padding-top-bottom: 3px;
$list-font-family: Arial, Helvetica, sans-serif;

$list-text-color: #000000;
$list-hover-text-color: #000000;
$list-selection-text-color: #000000;
$list-edited-item-text-color: #000000;
$list-edited-item-border-color: #000000;
$list-alerted-item-border-color: #be1100;
$list-edited-item-background-color: #ffffff;
$list-secondary-selection-text-color: #000000;
$list-selection-border-color: rgba(0, 140, 255, 0.3);
$list-hover-background-color: rgba(0, 140, 255, 0.03);
$list-selection-background-color: rgba(0, 140, 255, 0.1);
$list-secondary-selection-border-color: rgba(0, 140, 255, 0.25);
$list-secondary-selection-background-color: rgba(0, 140, 255, 0.05);



:root {
    --list-cursor: #{$list-cursor};
    --list-font-size: #{$list-font-size};
    --list-font-family: #{$list-font-family};
    --list-item-height: #{$list-item-height};
    --list-padding-left: #{$list-padding-left};
    --list-padding-right: #{$list-padding-right};
    --list-disabled-opacity: #{$list-disabled-opacity};
    --list-item-padding-top-bottom: #{$list-item-padding-top-bottom};

    --list-text-color: #{$list-text-color};
    --list-hover-text-color: #{$list-hover-text-color};
    --list-selection-text-color: #{$list-selection-text-color};
    --list-edited-item-text-color: #{$list-edited-item-text-color};
    --list-hover-background-color: #{$list-hover-background-color};
    --list-selection-border-color: #{$list-selection-border-color};
    --list-edited-item-border-color: #{$list-edited-item-border-color};
    --list-alerted-item-border-color: #{$list-alerted-item-border-color};
    --list-selection-background-color: #{$list-selection-background-color};
    --list-edited-item-background-color: #{$list-edited-item-background-color};
    --list-secondary-selection-text-color: #{$list-secondary-selection-text-color};
    --list-secondary-selection-border-color: #{$list-secondary-selection-border-color};
    --list-secondary-selection-background-color: #{$list-secondary-selection-background-color};
}