<div #htmlElement
     tabindex="-1"
     class="list-item"
     (mousedown)="onItemDown($event)"
     (contextmenu)="$event.preventDefault()"
     [ngStyle]="{'cursor': cursor ? cursor : null,
                 'padding-left': indent ? indent : null,
                 'height': itemHeight ? itemHeight : null}"
     [ngClass]="{
                 'list-primary-selection': hasPrimarySelection && hasSecondarySelection,
                 'list-secondary-selection-all': secondarySelectionType == SecondarySelectionType.All,
                 'list-primary-selection-border-only': hasPrimarySelection && !hasSecondarySelection}">
     
     <ng-content></ng-content>
</div>